@{
    ViewBag.Title = "If requiring assitance, please contact portal Admin below";
}
<h2>@ViewBag.Title.</h2>

<br />
<address>
    601-8502 Kyoto Prefecture, Kyoto<br />
    <abbr title="Phone">P:</abbr>
    1.425.555.0100
</address>

<address>
    <strong>Admin Support:</strong>   <a href="mailto:Support@example.com">Admin@company.com</a><br />
</address>